.name{
    position: absolute;
width: 416px;
height: 82px;
left: 304px;
top: 637px;

border: 3px solid #000000;
box-sizing: border-box;
border-radius: 12px;
}
.email{
    position: absolute;
width: 416px;
height: 82px;
left: 304px;
top: 765px;

border: 3px solid #000000;
box-sizing: border-box;
border-radius: 12px;
}
.dis{
    position: absolute;
width: 414px;
height: 210px;
left: 770px;
top: 637px;

border: 3px solid #000000;
box-sizing: border-box;
border-radius: 12px;
}